/*
   Hide address bar buttons
   Thanks to LonM - https://forum.vivaldi.net/post/329059
*/

/* Content blocker */
.ContentBlocker-Control {
    display: none;
}

/* Bookmark icon */
.UrlBar-AddressField .button-toolbar.create-bookmark button
{
    display: none;
}

/* Dropdown */
.UrlBar-AddressField > div.toolbar.toolbar-small.toolbar-insideinput > div:last-of-type
{
    display: none;
}
