.SiteInfoButton {
    order: 1 !important; /* Move page info icon to the right */
}
  
.addressfield > div:nth-child(1) {
    order: 2 !important; /* Move tracker blocker icon to the right */
}
  
.toolbar.toolbar-small.toolbar-insideinput {
    order: 3 !important; /* Move PageActions (permissions, bookmark, dropdown etc) to the rightmost */
}
  