/*
   Adjusts address bar to make reload button seem to be inside it.
   Please hide your home button before using this style.
   (Right click > Customize > Remove from toolbar)
*/

.addressfield {
    margin-left: -2.4em !important; /* Move address bar itself to left */
    padding-left: 2em !important; /* Add padding to fit reload in */
}

.button-toolbar.reload {
    z-index: 2 !important; /* Show reload on top */
}
