/*
   Removes the green color and owner name on sites with EV SSL.
*/

.SiteInfoButton.certified {
  fill: var(--colorFgFadedMore) !important; /* Same color as normal HTTPS */
}
.SiteInfoButton.certified:hover,
.SiteInfoButton.certified:active,
.SiteInfoButton.certified:focus:not([tabindex='-1']) {
  fill: var(--colorFgFaded) !important; /* Same color as normal HTTPS */
}

.SiteInfoButton.certified > .siteinfo-text{
  display: none !important; /* Remove EV SSL text */
}