/*
  Remove menu button, change trashbin to menu icon
  Don't forget to also customize the trashbin menu on vivaldi://settings/appearance/ to add important menu items there!
*/

.button-toolbar.toggle-trash button span > svg > path {
  d: path('M3 5h16v2H3zM3 10h16v2H3zM3 15h16v2H3z') !important;
}

.vivaldi .burger-icon {
  display: none !important;
}